# Capstone 3 Data Wrangling
### This data has been provided for me by Cleburne ISD from the 2020-2021 school year. All personally identifying information was wiped before I recieved the file.

Here I'll import the nessisary modules

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import numpy as np

In [ ]:
#Mentor Note: I've sumbitted this notebook for review, but I'm not entirely sure I've completed it to the rigor required by the
# rubric. I'd be happy to make any changes and resubmit.

Here I'll load the dataset. I'm going to load the data in a manner that will make it convenient to apply the same steps to additional datasets if I'm provided past data for time series analysis.

In [2]:
cd Desktop\GitHub\Capstone_3

C:\Users\Armstrongs\Desktop\GitHub\Capstone_3

In [3]:
pwd

'C:\\Users\\Armstrongs\\Desktop\\GitHub\\Capstone_3'

In [6]:
df = pd.read_csv('CleburneGrd5Math.csv')
df.head()

,Student Number,Grade Level,Campus Number,Gender,EthnicityRace,Economic Disadvantage,Economic Disadvantage Category,At Risk,Special Ed,LEP,...,Military Connected Student,New To Texas,>=50.0% Remote SY 2020-21,Discipline Placement Incidents,Oral Administration,Test Admin Mode,Approaches,Meets,Masters,STAAR Progress from 2019
0,1,Fifth,1,Female,Hispanic/Latino,Yes,Eligible for Free Meals,Yes,Yes,LEP,...,0,No,Yes,0,No,Online,No,No,No,Limited
1,2,Fifth,3,Female,Hispanic/Latino,No,Not Economically Disadvantaged,Yes,Yes,LEP,...,0,No,No,0,Yes,Paper,No,No,No,Limited
2,3,Fifth,7,Male,White,Yes,Eligible for Free Meals,Yes,No,Other Non-LEP Student,...,0,No,No,0,No,Online,Yes,Yes,No,Accelerated
3,4,Fifth,5,Female,Hispanic/Latino,No,Not Economically Disadvantaged,No,No,Other Non-LEP Student,...,0,No,No,0,No,Online,No,No,No,Expected
4,5,Fifth,3,Male,Hispanic/Latino,No,Not Economically Disadvantaged,Yes,Yes,LEP,...,0,No,No,0,No,Online,Yes,No,No,Accelerated

In [7]:
df.describe()

,Student Number,Campus Number,Military Connected Student,Discipline Placement Incidents
count,433.000000,433.000000,433.000000,433.000000
mean,217.000000,4.249423,0.011547,0.120092
std,125.140588,1.894841,0.106960,0.499433
min,1.000000,1.000000,0.000000,0.000000
25%,109.000000,3.000000,0.000000,0.000000
50%,217.000000,4.000000,0.000000,0.000000
75%,325.000000,6.000000,0.000000,0.000000
max,433.000000,7.000000,1.000000,7.000000

It looks like the only numerical value is "Discipline Placement Incidents" with a maximum value of 7.

In [10]:
missing = pd.concat([df.isnull().sum(), 100 * df.isnull().mean()], axis=1)

In [11]:
missing

                                 0         1
Student Number                   0  0.000000
Grade Level                      0  0.000000
Campus Number                    0  0.000000
Gender                           0  0.000000
EthnicityRace                    0  0.000000
Economic Disadvantage            0  0.000000
Economic Disadvantage Category   0  0.000000
At Risk                          0  0.000000
Special Ed                       0  0.000000
LEP                              0  0.000000
ESL                              0  0.000000
Bilingual                        0  0.000000
Gifted Talented                  0  0.000000
Tested Language                  0  0.000000
Military Connected Student       0  0.000000
New To Texas                     0  0.000000
>=50.0% Remote SY 2020-21        0  0.000000
Discipline Placement Incidents   0  0.000000
Oral Administration              0  0.000000
Test Admin Mode                  0  0.000000
Approaches                       0  0.000000
Meets                            0  0.000000
Masters                          0  0.000000
STAAR Progress from 2019        10  2.309469

It appears there is very little missing data here. I'll take a closer look at STAAR Progress from 2019

In [14]:
missing_prog = df[df['STAAR Progress from 2019'].isnull()]

In [17]:
missing_prog.iloc[:, :10]

,Student Number,Grade Level,Campus Number,Gender,EthnicityRace,Economic Disadvantage,Economic Disadvantage Category,At Risk,Special Ed,LEP
10,11,Fifth,3,Female,Hispanic/Latino,Yes,Eligible for Free Meals,Yes,No,Other Non-LEP Student
70,71,Fifth,3,Male,Native Hawaiian/Pacific Islander,No,Not Economically Disadvantaged,Yes,No,LEP
248,249,Fifth,2,Female,White,Yes,Eligible for Free Meals,Yes,No,Other Non-LEP Student
282,283,Fifth,4,Male,Two or More,No,Not Economically Disadvantaged,No,No,Other Non-LEP Student
400,401,Fifth,5,Female,White,No,Not Economically Disadvantaged,No,Yes,Other Non-LEP Student
406,407,Fifth,2,Male,Hispanic/Latino,No,Not Economically Disadvantaged,No,Yes,Other Non-LEP Student
412,413,Fifth,7,Female,White,Yes,Eligible for Free Meals,No,No,Other Non-LEP Student
420,421,Fifth,1,Male,White,No,Not Economically Disadvantaged,No,Yes,Other Non-LEP Student
422,423,Fifth,2,Female,American Indian or Alaskan Native,Yes,Eligible for Free Meals,Yes,Yes,Other Non-LEP Student
430,431,Fifth,7,Female,White,No,Not Economically Disadvantaged,Yes,Yes,Other Non-LEP Student

In [18]:
missing_prog.iloc[:, 10:]

,ESL,Bilingual,Gifted Talented,Tested Language,Military Connected Student,New To Texas,>=50.0% Remote SY 2020-21,Discipline Placement Incidents,Oral Administration,Test Admin Mode,Approaches,Meets,Masters,STAAR Progress from 2019
10,No,No,No,E,0,No,Yes,0,No,Online,Yes,No,No,NaN
70,No,No,No,E,0,No,No,0,No,Online,No,No,No,NaN
248,No,No,No,E,0,No,Yes,0,No,Online,Yes,No,No,NaN
282,No,No,No,E,0,No,No,0,No,Online,Yes,No,No,NaN
400,No,No,No,E,0,No,No,0,No,Online,Yes,Yes,No,NaN
406,No,No,No,E,0,No,No,0,No,Online,No,No,No,NaN
412,No,No,No,E,0,No,Yes,0,No,Online,No,No,No,NaN
420,No,No,No,E,0,No,No,0,No,Online,Yes,Yes,No,NaN
422,No,No,No,E,0,No,No,0,No,Online,No,No,No,NaN
430,No,No,No,E,0,Yes,No,0,No,Online,Yes,No,No,NaN

There doesn't seem to be any common factor connecting students with missing STAAR progress. I had a hunch that maybe they were all new to Texas. Seeing as they represent only 2.3% of the data I'm inclined to just drop them, but since I have such a small dataset to begin with I'm hesitant. I'll drop them for now, but make a note to contact the campus about why these scores would be missing.

In [22]:
df = df[~df['STAAR Progress from 2019'].isnull()]

In [23]:
missing = pd.concat([df.isnull().sum(), 100 * df.isnull().mean()], axis=1)
missing

                                0    1
Student Number                  0  0.0
Grade Level                     0  0.0
Campus Number                   0  0.0
Gender                          0  0.0
EthnicityRace                   0  0.0
Economic Disadvantage           0  0.0
Economic Disadvantage Category  0  0.0
At Risk                         0  0.0
Special Ed                      0  0.0
LEP                             0  0.0
ESL                             0  0.0
Bilingual                       0  0.0
Gifted Talented                 0  0.0
Tested Language                 0  0.0
Military Connected Student      0  0.0
New To Texas                    0  0.0
>=50.0% Remote SY 2020-21       0  0.0
Discipline Placement Incidents  0  0.0
Oral Administration             0  0.0
Test Admin Mode                 0  0.0
Approaches                      0  0.0
Meets                           0  0.0
Masters                         0  0.0
STAAR Progress from 2019        0  0.0

In [24]:
#Making sure all students really are fifth grade
df['Grade Level'].value_counts()

Fifth    423
Name: Grade Level, dtype: int64

In [25]:
#Making sure the proportions on each campus make sense
df['Campus Number'].value_counts()

6    78
5    70
4    68
3    58
7    57
2    49
1    43
Name: Campus Number, dtype: int64

In [26]:
#Making sure gender is roughly equal. 
df['Gender'].value_counts()

Female    215
Male      208
Name: Gender, dtype: int64

In [27]:
#Sanity Check for all other feature
df['EthnicityRace'].value_counts()

White                                204
Hispanic/Latino                      179
Native Hawaiian/Pacific Islander      13
African American                      12
Two or More                           11
American Indian or Alaskan Native      2
Asian                                  2
Name: EthnicityRace, dtype: int64

In [28]:
df['Economic Disadvantage'].value_counts()

Yes    279
No     144
Name: Economic Disadvantage, dtype: int64

In [29]:
df['At Risk'].value_counts()

No     215
Yes    208
Name: At Risk, dtype: int64

In [30]:
df['Economic Disadvantage Category'].value_counts()

Eligible for Free Meals             236
Not Economically Disadvantaged      144
Eligible for Reduced-Price Meals     23
Other Economic Disadvantages         20
Name: Economic Disadvantage Category, dtype: int64

In [31]:
df['Special Ed'].value_counts()

No     372
Yes     51
Name: Special Ed, dtype: int64

In [32]:
df['LEP'].value_counts()

Other Non-LEP Student           303
LEP                             115
Third Year of Monitoring          3
First Year of Monitoring          1
Completed 4 Years Monitoring      1
Name: LEP, dtype: int64

I'm making a note here to find out the hiearchal nature of these LEP categories. Specifically how do the years of monitoring relate to General LEP. Since the numbers are so small I'll just switch the other categories to regular LEP for now.

In [40]:
df["LEP"].replace(['Third Year of Monitoring', 'First Year of Monitoring', 'Completed 4 Years Monitoring'], 'LEP', inplace=True)
df['LEP'].value_counts()

Other Non-LEP Student    303
LEP                      120
Name: LEP, dtype: int64

In [41]:
df['ESL'].value_counts()

No                   390
ESL/content-based     33
Name: ESL, dtype: int64

In [42]:
df['Bilingual'].value_counts()

No                                 353
Dual language immersion/one-way     70
Name: Bilingual, dtype: int64

In [43]:
df['Gifted Talented'].value_counts()

No     382
Yes     41
Name: Gifted Talented, dtype: int64

In [44]:
df['Tested Language'].value_counts()

E    420
S      3
Name: Tested Language, dtype: int64

The proportions here may be too small to be useful.

In [45]:
df['Military Connected Student'].value_counts()

0    418
1      5
Name: Military Connected Student, dtype: int64

In [46]:
df['New To Texas'].value_counts()

No    423
Name: New To Texas, dtype: int64

In [47]:
df[df['New To Texas'] != 'No']

Empty DataFrame
Columns: [Student Number, Grade Level, Campus Number, Gender, EthnicityRace, Economic Disadvantage, Economic Disadvantage Category, At Risk, Special Ed, LEP, ESL, Bilingual, Gifted Talented, Tested Language, Military Connected Student, New To Texas, >=50.0% Remote SY 2020-21, Discipline Placement Incidents, Oral Administration, Test Admin Mode, Approaches, Meets, Masters, STAAR Progress from 2019]
Index: []

[0 rows x 24 columns]

Since none of these students are actually new to Texas there is nothing I can learn from that feature. I'll drop it for now.

In [48]:
df.drop(columns=['New To Texas'], inplace=True)

In [49]:
df['>=50.0% Remote SY 2020-21'].value_counts()

No     406
Yes     17
Name: >=50.0% Remote SY 2020-21, dtype: int64

In [50]:
df['Discipline Placement Incidents'].value_counts()

0    385
1     31
2      4
3      2
7      1
Name: Discipline Placement Incidents, dtype: int64

In [57]:
df['Discipline Placement Incidents'].dtype

dtype('int64')

I'm concerned that the 1 student with 7 discipline incidents is an outlier which may hinder prediction. I'm going to reduce this to 3 categories (0, 1, 2+)

In [58]:
df["Discipline Placement Incidents"].replace([2, 3, 7], '2+', inplace=True)

In [59]:
df['Discipline Placement Incidents'].value_counts()

0     385
1      31
2+      7
Name: Discipline Placement Incidents, dtype: int64

In [67]:
df.loc[df['Discipline Placement Incidents'] == '2+']['Discipline Placement Incidents'].dtype

dtype('O')

It's an object now and not an integer, but this is fine. I will fix this issue when I translate ordinal data into integer form.

In [68]:
df['Oral Administration'].value_counts()

No     408
Yes     15
Name: Oral Administration, dtype: int64

In [69]:
df['Test Admin Mode'].value_counts()

Online    405
Paper      18
Name: Test Admin Mode, dtype: int64

In [70]:

df['STAAR Progress from 2019'].value_counts()

Limited        166
Expected       154
Accelerated    103
Name: STAAR Progress from 2019, dtype: int64

All the data seems to be intact and make sense, which is to be expected from such a small dataset. Now I'll translate all of the staar results into 1 columns.

In [71]:
df['Target'] = 0
df.head()

,Student Number,Grade Level,Campus Number,Gender,EthnicityRace,Economic Disadvantage,Economic Disadvantage Category,At Risk,Special Ed,LEP,...,Military Connected Student,>=50.0% Remote SY 2020-21,Discipline Placement Incidents,Oral Administration,Test Admin Mode,Approaches,Meets,Masters,STAAR Progress from 2019,Target
0,1,Fifth,1,Female,Hispanic/Latino,Yes,Eligible for Free Meals,Yes,Yes,LEP,...,0,Yes,0,No,Online,No,No,No,Limited,0
1,2,Fifth,3,Female,Hispanic/Latino,No,Not Economically Disadvantaged,Yes,Yes,LEP,...,0,No,0,Yes,Paper,No,No,No,Limited,0
2,3,Fifth,7,Male,White,Yes,Eligible for Free Meals,Yes,No,Other Non-LEP Student,...,0,No,0,No,Online,Yes,Yes,No,Accelerated,0
3,4,Fifth,5,Female,Hispanic/Latino,No,Not Economically Disadvantaged,No,No,Other Non-LEP Student,...,0,No,0,No,Online,No,No,No,Expected,0
4,5,Fifth,3,Male,Hispanic/Latino,No,Not Economically Disadvantaged,Yes,Yes,LEP,...,0,No,0,No,Online,Yes,No,No,Accelerated,0

In [84]:
df['Target'] = np.where(df['Masters']!= 'No', 'Masters', 0)

In [90]:
# create a list of our conditions
conditions = [
    (df['Masters'] == 'Yes'),
    (df['Masters'] == 'No') & (df['Meets'] == 'Yes'),
    (df['Meets'] == 'No') & (df['Approaches'] == 'Yes'),
    (df['Approaches'] == 'No')
    ]

# create a list of the values we want to assign for each condition
values = ['Masters', 'Meets', 'Approaches', 'Fails']

# create a new column and use np.select to assign values to it using our lists as arguments
df['Target'] = np.select(conditions, values)

# display updated DataFrame
df.head()

,Student Number,Grade Level,Campus Number,Gender,EthnicityRace,Economic Disadvantage,Economic Disadvantage Category,At Risk,Special Ed,LEP,...,Military Connected Student,>=50.0% Remote SY 2020-21,Discipline Placement Incidents,Oral Administration,Test Admin Mode,Approaches,Meets,Masters,STAAR Progress from 2019,Target
0,1,Fifth,1,Female,Hispanic/Latino,Yes,Eligible for Free Meals,Yes,Yes,LEP,...,0,Yes,0,No,Online,No,No,No,Limited,Fails
1,2,Fifth,3,Female,Hispanic/Latino,No,Not Economically Disadvantaged,Yes,Yes,LEP,...,0,No,0,Yes,Paper,No,No,No,Limited,Fails
2,3,Fifth,7,Male,White,Yes,Eligible for Free Meals,Yes,No,Other Non-LEP Student,...,0,No,0,No,Online,Yes,Yes,No,Accelerated,Meets
3,4,Fifth,5,Female,Hispanic/Latino,No,Not Economically Disadvantaged,No,No,Other Non-LEP Student,...,0,No,0,No,Online,No,No,No,Expected,Fails
4,5,Fifth,3,Male,Hispanic/Latino,No,Not Economically Disadvantaged,Yes,Yes,LEP,...,0,No,0,No,Online,Yes,No,No,Accelerated,Approaches

The code above was adapted from https://www.dataquest.io/blog/tutorial-add-column-pandas-dataframe-based-on-if-else-condition/
I'll now drop the staar columns

In [91]:
df.drop(columns=['Approaches', 'Meets', 'Masters'], inplace=True)

Now I'll translate all my ordinal data into numeric values.

In [93]:
odf = df
odf['Economic Disadvantage Category'].replace({'Eligible for Free Meals':0,
'Not Economically Disadvantaged':3,
'Eligible for Reduced-Price Meals':1,
'Other Economic Disadvantages':2}, inplace=True)

In [95]:
odf['Economic Disadvantage Category'].value_counts()

0    236
3    144
1     23
2     20
Name: Economic Disadvantage Category, dtype: int64

In [96]:
odf['Discipline Placement Incidents'].replace({'0':0, '1':1, '2+':2}, inplace=True)
odf['Discipline Placement Incidents'].value_counts()

0    385
1     31
2      7
Name: Discipline Placement Incidents, dtype: int64

In [106]:
odf['STAAR Progress from 2019'].replace({'Limited':0,
'Expected':1,
'Accelerated':2}, inplace=True)
odf['STAAR Progress from 2019'].value_counts()

0    166
1    154
2    103
Name: STAAR Progress from 2019, dtype: int64

In [108]:
odf.head()

,Student Number,Grade Level,Campus Number,Gender,EthnicityRace,Economic Disadvantage,Economic Disadvantage Category,At Risk,Special Ed,LEP,...,Bilingual,Gifted Talented,Tested Language,Military Connected Student,>=50.0% Remote SY 2020-21,Discipline Placement Incidents,Oral Administration,Test Admin Mode,STAAR Progress from 2019,Target
0,1,Fifth,1,Female,Hispanic/Latino,Yes,0,Yes,Yes,LEP,...,No,No,E,0,Yes,0,No,Online,0,Fails
1,2,Fifth,3,Female,Hispanic/Latino,No,3,Yes,Yes,LEP,...,No,No,E,0,No,0,Yes,Paper,0,Fails
2,3,Fifth,7,Male,White,Yes,0,Yes,No,Other Non-LEP Student,...,No,No,E,0,No,0,No,Online,2,Meets
3,4,Fifth,5,Female,Hispanic/Latino,No,3,No,No,Other Non-LEP Student,...,No,No,E,0,No,0,No,Online,1,Fails
4,5,Fifth,3,Male,Hispanic/Latino,No,3,Yes,Yes,LEP,...,No,No,E,0,No,0,No,Online,2,Approaches

In [109]:
odf['Target'].replace({'Fails':0,
'Approaches':1,
'Meets':2,
'Masters':3}, inplace=True)

In [110]:
pwd

'C:\\Users\\Armstrongs\\Desktop\\GitHub\\Capstone_3'