# Capstone 3 Data Wrangling
### This data has been provided for me by Cleburne ISD from the 2020-2021 school year. All personally identifying information was wiped before I recieved the file.

Here I'll import the nessisary modules

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import numpy as np

Here I'll load the dataset. I'm going to load the data in a manner that will make it convenient to apply the same steps to additional datasets if I'm provided past data for time series analysis.

In [3]:
cd Desktop\GitHub\Capstone_3

C:\Users\Armstrongs\Desktop\GitHub\Capstone_3

In [4]:
pwd

'C:\\Users\\Armstrongs\\Desktop\\GitHub\\Capstone_3'

In [5]:
df = pd.read_csv('CleburneGrd5Math.csv')
df.head()

,Student Number,Grade Level,Campus Number,Gender,EthnicityRace,Economic Disadvantage,Economic Disadvantage Category,At Risk,Special Ed,LEP,...,Military Connected Student,New To Texas,>=50.0% Remote SY 2020-21,Discipline Placement Incidents,Oral Administration,Test Admin Mode,Approaches,Meets,Masters,STAAR Progress from 2019
0,1,Fifth,1,Female,Hispanic/Latino,Yes,Eligible for Free Meals,Yes,Yes,LEP,...,0,No,Yes,0,No,Online,No,No,No,Limited
1,2,Fifth,3,Female,Hispanic/Latino,No,Not Economically Disadvantaged,Yes,Yes,LEP,...,0,No,No,0,Yes,Paper,No,No,No,Limited
2,3,Fifth,7,Male,White,Yes,Eligible for Free Meals,Yes,No,Other Non-LEP Student,...,0,No,No,0,No,Online,Yes,Yes,No,Accelerated
3,4,Fifth,5,Female,Hispanic/Latino,No,Not Economically Disadvantaged,No,No,Other Non-LEP Student,...,0,No,No,0,No,Online,No,No,No,Expected
4,5,Fifth,3,Male,Hispanic/Latino,No,Not Economically Disadvantaged,Yes,Yes,LEP,...,0,No,No,0,No,Online,Yes,No,No,Accelerated

In [6]:
df.describe()

,Student Number,Campus Number,Military Connected Student,Discipline Placement Incidents
count,433.000000,433.000000,433.000000,433.000000
mean,217.000000,4.249423,0.011547,0.120092
std,125.140588,1.894841,0.106960,0.499433
min,1.000000,1.000000,0.000000,0.000000
25%,109.000000,3.000000,0.000000,0.000000
50%,217.000000,4.000000,0.000000,0.000000
75%,325.000000,6.000000,0.000000,0.000000
max,433.000000,7.000000,1.000000,7.000000

It looks like